/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.7);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.7)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.7);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.7);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.7);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.7);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.7);
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('/img/Comix New Cursors/Comix New White/Arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('/img/Comix New Cursors/Comix New White/Hand2.cur'),auto;
}

/* 布局样式 */
body {
  /* width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: slategray;
  display:flex;
  flex-wrap: wrap; */
}

.recent-post-item {
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.recent-posts {
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.aside-content {
  /* justify-content: center; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px; 
}

/* 拟态样式 */
.recent-post-item {
  padding-left: calc(1.2rem * var(--ahzoo-proportion))!important;
  padding-right: calc(1.2rem * var(--ahzoo-proportion))!important;
}

#recent-posts > .recent-post-item{
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  /* background-color: #ffffff; */
  transition: box-shadow .2s ease-out;
} 

#recent-posts > .recent-post-item:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
} 

/* 拟态样式 */
/* .container .box {
  width: 99px;
  height: 99px;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.1),
      -50px -50px 100px rgba(255, 255, 255, 1);
  border-radius: 50px;
  background-color: #eee;
  transition: box-shadow .2s ease-out;
}

.container .box:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 19px 19px 38px rgba(0, 0, 0, 0.1),
      inset -19px -19px 38px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
} */
/* .card-widget {
  padding-left: calc(1.2rem * var(--ahzoo-proportion))!important;
  padding-right: calc(1.2rem * var(--ahzoo-proportion))!important;
} */

#aside-content > .card-widget {
  /* width: 99px;
  height: 99px; */
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: box-shadow .2s ease-out;
}

#aside-content >.card-widget:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
}

#aside-content > .sticky_layout > .card-widget {
  /* width: 99px;
  height: 99px; */
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: box-shadow .2s ease-out;
}

#aside-content >.sticky_layout >.card-widget:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
}

/*page样式*/
/* .recent-post-item {
  padding-left: calc(1.2rem * var(--ahzoo-proportion))!important;
  padding-right: calc(1.2rem * var(--ahzoo-proportion))!important;
} */

#post{
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: box-shadow .2s ease-out;
} 

#post:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
} 

#page{
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: box-shadow .2s ease-out;
} 

#page:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
} 

#archive{
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.1),
      /* -9px -9px 9px rgba(255, 255, 255, 1); */
      -7px -7px 9px rgba(247, 165, 188, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: box-shadow .2s ease-out;
} 

#archive:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 rgba(255, 255, 255, 0.8),
      inset 7px 7px 9px rgba(0, 0, 0, 0.1),
      inset -7px -7px 9px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
} 